<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gestió de DNI's</title>
    <meta name="description" content="Gestió de DNI's en Guanyem Castelló">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="assets/bower_components/cropper/dist/cropper.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
</head>

<body ng-app="dnisApp" ng-controller="cropController" ng-cloak>
    <div class="ui large menu navbar">
        <div class="left menu">
            <a href="/index.php" class="item">Gestió de DNI's</a>
        </div>
        <div class="right menu">
            <a href="http://guanyemcastello.org" class="item">Guanyem Castelló</a>
	    <div class="item">
    	        <a href="?logout" class="ui primary button">Sortir de la sessió</a>
	    </div>
        </div>
    </div>

    <div class="ui ordered steps">
        <a class="step one" ng-class="{ active: step === 1|| !step }" ng-click="step = 1">
            <div class="content">
                <div class="title">Informació del DNI</div>
                <div class="description">Introdueïx informació relativa a la foto</div>
            </div>
        </a>
        <a class="step two" ng-class="{ active: step === 2 }" ng-click="stepTwo();">
            <div class="content">
                <div class="title">Retallar imatge</div>
                <div class="description">Retalla la imatge del DNI</div>
            </div>
        </a>
        <a class="step three" ng-class="{ active: step === 3 }" ng-click="stepThree();">
            <div class="content">
                <div class="title">Confirmació</div>
                <div class="description">Comprova que tota la informació es correcta i grava</div>
            </div>
        </a>
    </div>
    <br style="margin-top: 2em;" />
    <div class="ui grid" ng-show="!step || step === 1">
        <div class="five wide column">
            <div class="ui segment">
		    <div class="ui form">
			    <div class="ui field" ng-class="{ error: !validDni }">
				<label>Introdueïx el nombre i lletra del DNI de la imatge</label>
				<div class="ui icon input" ng-init="ndni = '{{ image.ndni }}'; validDni = validateDni(ndni)">
				    <input type="text" id="ndni" ng-model="ndni" name="ndni" ng-change="validDni = validateDni(ndni)" placeholder="Introdueïx el nombre de DNI que veus a la imatge">
				</div>
			    </div>
		    </div>
            </div>
            <div class="ui segment">
                <h4>Això és el frontal o el revers?</h4>
                <div class="2 fluid ui buttons">
                    <div class="ui button cara{% if image.cara == 0 %} active{% endif %} " ng-click="frontal=true" name="frontal">Frontal</div>
		    <div class="or" data-text="o"></div>
                    <div class="ui button cara{% if image.cara == 1 %} active{% endif %}" ng-click="frontal=false" name="reverso">Revers</div>
                </div>
            </div>
            <div class="ui big button positive" style="margin-top: 2em;" ng-click="stepTwo();">Següent pas <i class="right chevron icon"></i></div>
        </div>

        <div class="six wide column">
            <div class="ui segment" style="margin-left: 1em;">
                <img class="ui image" src="image.php?idni={{ image.idni }}">
            </div>
        </div>
</div>

    <div class="ui grid" ng-show="step === 2">
        <div class="one wide column">
	    <div class="ui vertical labeled icon menu">
	        <a class="zoomin item">
	            <i class="zoom icon"></i>
	            Ampliar
	        </a>
	        <a class="zoomout item">
	            <i class="zoom out icon"></i>
	            Reduir
	        </a>
		<a class="left90 item">
		    <i class="arrow left icon"></i>
		    -90 graus
		</a>
		<a class="right90 item">
		    <i class="arrow right icon"></i>
		    90 graus
		</a>
		<a class="left5 item">
		    <i class="caret left icon"></i>
		    -1 grau
		</a>
		<a class="right5 item">
		    <i class="caret right icon"></i>
		    1 grau
                </a>
	    </div>
        </div> 
        <div class="seven wide column">
            <div class="ui segment" style="margin-left: 1em;">
                <img class="ui main big image" src="image.php?idni={{ image.idni }}">
            </div>
        </div>
        <div class="three wide column">
            <div class="ui segment">
		    <h4 style="margin-top: 0;">Previsualitzacio</h4>
		    <div class="preview">
			<img class="ui small image" src="image.php?idni={{ image.idni }}">
		    </div>
		    <h4 id="dimensions"></h4>
	    </div>
            <div class="ui big button positive" style="margin-top: 2em;" ng-click="step=3; stepThree();">Següent pas <i class="right chevron icon"></i></div>
        </div>
    </div>

    <div class="ui grid" ng-show="step === 3">
        <div class="six wide column">
            <div class="ui segment">
                <img class="ui image preview2" src="image.php?idni={{ image.idni }}">
            </div>
        </div>
        <div class="four wide column">
	    <div class="ui segment">
                <h3 ng-bind="'Nombre de DNI: ' + ndni">/h3>
            </div>
	    <div class="ui huge label blue" ng-show="frontal">
                Frontal
            </div>
	    <div class="ui huge label blue" ng-show="!frontal">
                Revers
            </div>
            <div class="ui big button positive" ng-click="save()" style="margin-top: 2em;" ng-click="stepThree()">Confirmar i enviar <i class="right chevron icon"></i></div>
        </div>
    </div>

    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="assets/bower_components/cropper/dist/cropper.min.js"></script>
    <script src="assets/bower_components/semantic/dist/semantic.min.js"></script>
    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
