<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gestió de DNI's</title>
    <meta name="description" content="Gestió de DNI's en Guanyem Castelló">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/bower_components/semantic/dist/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="ui large menu navbar">
        <div class="left menu">
            <a href="" class="item">Gestió de DNI's</a>
        </div>
        <div class="right menu">
            <a href="http://guanyemcastello.org" class="item">Guanyem Castelló</a>
	    <div class="item">
    	        <a href="?logout" class="ui primary button">Sortir de la sessió</a>
	    </div>
        </div>
    </div>
    <h2>Pujada de documents</h2>
    <div class="ui segment">
        <form class="ui form" method="POST" action="save.php" enctype="multipart/form-data">
	    <div class="field">
	        <label>Trïa el arxiu del teu disc dur</label>
	        <input type="file" name="img" />
            </div>
	    <input type="submit" class="ui primary button" value="Pujar document" />
        </form>
    </div>
    <h2>Fes click en una imatge per gestionar-la</h2>
    <div class="ui segment">
        <div class="ui four column grid">
            {% for image in images %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="ui image">
                        <a href="crop.php?idni={{ image }}"><img class="ui image" src="image.php?idni={{ image }}"></a>
                    </div>
                    <div class="content">
                        <a href="save.php?idni={{ image }}&del=true" onclick="return confirm('Estàs segur/a?');">borra</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
