<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gestió de DNI's</title>
    <meta name="description" content="Gestió de DNI's en Guanyem Castelló">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/bower_components/semantic/dist/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="ui large menu navbar">
        <div class="left menu">
            <a href="" class="item">Gestió de DNI's</a>
        </div>
        <div class="right menu">
	    {% if admin == 1 %}
            <a href="admin.php" class="item">Canviar usuari</a>
            {% endif %}
            <a href="recerca.php" class="item">Recerca de DNI's</a>
            <a href="http://guanyemcastello.org" class="item">Guanyem Castelló</a>
	    <div class="item">
    	        <a href="?logout" class="ui primary button">Sortir de la sessió</a>
	    </div>
        </div>
    </div>
    <div class="ui menu">
        <a class="item{% if section=='' and pagina==0%} active{% endif %}" href="index.php">
            DNI's sense processar
            <div class="ui small teal label" style="margin-left: 1em;">{{ paginas['nopage'] }} imatges</div>
        </a>
        <a class="item{% if section=='assignar' and pagina==0 %} active{% endif %}" href="index.php?seccio=assignar">
            DNI's sense fulla assignada
            <div class="ui small teal label" style="margin-left: 1em;">{{ paginas[0] }} imatges</div>
        </a>
    </div>
    <div class="ui menu">
        <div class="ui item">
            <div class="ui dropdown">
                <div class="text">Navegador de fulles 1-100</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
            		{% for key,p in paginas %}
			    {% if key > 0 and key <= 100 %}
				{% if key % 4 == 1 %}
				<div class="ui basic buttons" style="width: 640px; box-shadow: none;">
				{% endif %}
			            <a class="ui button" style="width: 160px; box-shadow: none; border-left: 0px;" href="index.php?pagina={{ key }}">Fulla {{ key }}
	        	                {% if p > 0 %}
			                <div class="ui small teal label" style="margin-left: 1em;">{{ p/2 }} dnis</div>
		                        {% else %}
			                <div class="ui small teal label" style="margin-left: 1em;">cap</div>
		                        {% endif %}
			            </a>
				{% if key == loop.last %}
				</div>
				{% else %}
				{% if key % 4 == 0 %}
				</div>
				<div class="ui divider" style="border: 0px;"></div>
		                {% endif %}
		                {% endif %}
		            {% endif %}
            		{% endfor %}
                    </div>
                </div>
            </div>
        {% if paginas | length > 100 %}
        <div class="ui item">
            <div class="ui dropdown">
                <div class="text">101-200</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
            		{% for key,p in paginas %}
			    {% if key > 100 and key <=200 %}
				{% if key % 4 == 1 %}
				<div class="ui basic buttons" style="width: 640px; box-shadow: none;">
				{% endif %}
			            <a class="ui button" style="width: 160px; box-shadow: none; border-left: 0px;" href="index.php?pagina={{ key }}">Fulla {{ key }}
	        	                {% if p > 0 %}
			                <div class="ui small teal label" style="margin-left: 1em;">{{ p/2 }} dnis</div>
		                        {% else %}
			                <div class="ui small teal label" style="margin-left: 1em;">cap</div>
		                        {% endif %}
			            </a>
				{% if key == loop.last %}
				</div>
				{% else %}
				{% if key % 4 == 0 %}
				</div>
				<div class="ui divider" style="border: 0px;"></div>
		                {% endif %}
		                {% endif %}
		            {% endif %}
            		{% endfor %}
                    </div>
              </div>
        </div>
        {% endif %}
        {% if paginas | length > 200 %}
        <div class="ui item">
            <div class="ui dropdown">
                <div class="text">201-300</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
            		{% for key,p in paginas %}
			    {% if key > 200  and key <= 300 %}
				{% if key % 4 == 1 %}
				<div class="ui basic buttons" style="width: 640px; box-shadow: none;">
				{% endif %}
			            <a class="ui button" style="width: 160px; box-shadow: none; border-left: 0px;" href="index.php?pagina={{ key }}">Fulla {{ key }}
	        	                {% if p > 0 %}
			                <div class="ui small teal label" style="margin-left: 1em;">{{ p/2 }} dnis</div>
		                        {% else %}
			                <div class="ui small teal label" style="margin-left: 1em;">cap</div>
		                        {% endif %}
			            </a>
				{% if key == loop.last %}
				</div>
				{% else %}
				{% if key % 4 == 0 %}
				</div>
				<div class="ui divider" style="border: 0px;"></div>
		                {% endif %}
		                {% endif %}
		            {% endif %}
            		{% endfor %}
                    </div>
              </div>
        </div>
        {% endif %}
        {% if paginas | length > 300 %}
        <div class="ui item">
            <div class="ui dropdown">
                <div class="text">301-400</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
            		{% for key,p in paginas %}
			    {% if key > 300  and key <= 400 %}
				{% if key % 4 == 1 %}
				<div class="ui basic buttons" style="width: 640px; box-shadow: none;">
				{% endif %}
			            <a class="ui button" style="width: 160px; box-shadow: none; border-left: 0px;" href="index.php?pagina={{ key }}">Fulla {{ key }}
	        	                {% if p > 0 %}
			                <div class="ui small teal label" style="margin-left: 1em;">{{ p/2 }} dnis</div>
		                        {% else %}
			                <div class="ui small teal label" style="margin-left: 1em;">cap</div>
		                        {% endif %}
			            </a>
				{% if key == loop.last %}
				</div>
				{% else %}
				{% if key % 4 == 0 %}
				</div>
				<div class="ui divider" style="border: 0px;"></div>
		                {% endif %}
		                {% endif %}
		            {% endif %}
            		{% endfor %}
                    </div>
              </div>
        </div>
        {% endif %}
        {% if paginas | length > 400 %}
        <div class="ui item">
            <div class="ui dropdown">
                <div class="text">401-500</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
            		{% for key,p in paginas %}
			    {% if key > 400  and key <= 500 %}
				{% if key % 4 == 1 %}
				<div class="ui basic buttons" style="width: 640px; box-shadow: none;">
				{% endif %}
			            <a class="ui button" style="width: 160px; box-shadow: none; border-left: 0px;" href="index.php?pagina={{ key }}">Fulla {{ key }}
	        	                {% if p > 0 %}
			                <div class="ui small teal label" style="margin-left: 1em;">{{ p/2 }} dnis</div>
		                        {% else %}
			                <div class="ui small teal label" style="margin-left: 1em;">cap</div>
		                        {% endif %}
			            </a>
				{% if key == loop.last %}
				</div>
				{% else %}
				{% if key % 4 == 0 %}
				</div>
				<div class="ui divider" style="border: 0px;"></div>
		                {% endif %}
		                {% endif %}
		            {% endif %}
            		{% endfor %}
                    </div>
              </div>
        </div>
        {% endif %}
	<!--
        <a class="item" target="_new" href="pdf.php">
            PDF amb totes les fulles
            <div class="ui small teal label" style="margin-left: 1em;">{{ paginas|length -1 }}</div>
        </a>
	-->
    </div>
    </div>

    {% if pagina > 0 %}<div class="ui header"><a target="_new" href="pdf.php?pagina={{ pagina }}"><i class="file pdf outline icon"></i> Impressió de la fulla {{ pagina }}</a></div>{% endif %}
    {% if (section=='assignar' or pagina>0) and images["number"]|length > 0 %}
    <div class="ui segment">
        <div class="ui two column grid">
            {% for key,image in images["number"] %}
            <div class="column">
                <div class="ui fluid card">
		    <div class="ui two column grid">
			<div class="column">
                            <div class="ui image">
				{% if image[0] %}
                                <a href="crop.php?idni={{ image[0]['idni'] }}"><img class="ui image" src="image.php?idni={{ image[0]['idni'] }}&thumb=true"></a>
				{% else %}
                                <img class="ui image" src="/assets/img/frontal.jpg">
				{% endif %}
                            </div>
                        </div>
			<div class="column">
                            <div class="ui image">
				{% if image[1] %}
                                <a href="crop.php?idni={{ image[1].idni }}"><img class="ui image" src="image.php?idni={{ image[1].idni }}&thumb=true"></a>
				{% else %}
                                <img class="ui image" src="/assets/img/reverso.jpg">
				{% endif %}
                            </div>
                        </div>
		    </div>
                    {% if image[0].ndni or image[1].ndni %}
                    <div class="content">
			{% if image[0].ndni %}
			<strong style="font-size: 1.4em;">{{ image[0].ndni }}</strong>
			{% else %}
			<strong style="font-size: 1.4em;">{{ image[1].ndni }}</strong>
			{% endif %}
                    </div>
                    {% endif %}
                    <div class="extra content">
			{% if image|length == 2 %}
                        <a class="left floated button page" name="{{ image[0].ndni }}" href="">
                            <i class="block layout icon"></i>
                            Situar a una fulla
                        </a>
			{% endif %}
                        <a class="right floated button" href="save.php?idni={{ image[0].idni }}&idni2={{ image[1].idni }}&del=true" onclick="return confirm('Estàs segur/a?');">
                            <i class="delete icon"></i>
                            Esborrar DNI
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if section != 'assignar' %}
    {% if images["nonumber"]|length > 0 %}
    <h2 class="ui top attached header">DNI's sense nombre</h2>
    <div class="ui attached segment">
        <div class="ui two column grid">
            {% for image in images["nonumber"] %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="ui image">
                        <a href="crop.php?idni={{ image['idni'] }}"><img class="ui image" src="image.php?idni={{ image['idni'] }}&thumb=true"></a>
                    </div>
                    <div class="extra content">
                        <a class="right floated button" href="save.php?idni={{ image.idni }}&del=true" onclick="return confirm('Estàs segur/a?');">
                            <i class="delete icon"></i>
                            Esborrar DNI
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if images["duplicate"]|length > 0 %}
    <h2 class="ui top attached header">DNI's duplicats o invàlids</h2>
    <div class="ui attached segment">
        <div class="ui two column grid">
            {% for image in images["duplicate"] %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="ui image">
                        <a href="crop.php?idni={{ image['idni'] }}"><img class="ui image" src="image.php?idni={{ image['idni'] }}&thumb=true"></a>
                    </div>
                    <div class="extra content">
                        <a class="right floated button" href="save.php?idni={{ image.idni }}&del=true" onclick="return confirm('Estàs segur/a?');">
                            <i class="delete icon"></i>
                            Esborrar DNI
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
 

<div class="ui modal page transition" style="margin-top: -250px;">
    <i class="close icon"></i>
    <div class="header">
      En quina fulla vols ficar aquest DNI?
    </div>

    <div class="content">
        <div class="ui buttons">
            <div class="ui big negative button set-pagina">Sense assignar fulla</div>
            {% for key in paginas|keys %}
            {% if key != 'nopage' %}
            <div class="ui big button set-pagina">
                {{ key }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="ui big negative button set-pagina">{{ paginas|length -1}}</div>
        </div>
    </div>

    <div class="actions">
      <div class="ui black button cancel">
        Cancel.la
      </div>
    </div>
  </div>

    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="assets/bower_components/cropper/dist/cropper.min.js"></script>
    <script src="assets/bower_components/semantic/dist/semantic.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
