<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gestió de DNI's</title>
    <meta name="description" content="Gestió de DNI's. Castelló en moviment.">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/bower_components/semantic/dist/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="ui large menu navbar">
        <div class="left menu">
            <a href="" class="item">Gestió de DNI's</a>
        </div>
        <div class="right menu">
            <a href="http://castelloenmoviment.org" class="item">Castelló en moviment</a>
        </div>
    </div>
    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            <div class="ui huge message page grid center aligned">
                <h1 class="ui huge header">Autenticació</h1>
		<form class="ui form" method="POST" action="login.php" style="margin-top: 1em;">
		    <div class="required field">
		      <div class="ui icon input">
			<input type="text" name="username" placeholder="Usuari">
			<i class="user icon"></i>
		      </div>
		    </div>
		    <div class="required field">
		      <div class="ui icon input">
			<input type="password" name="password" placeholder="Clau d'accés">
			<i class="lock icon"></i>
		      </div>
		    </div>
		  <input type="submit" value="Accedir" class="possitive ui button" />
		</form>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
		<h2 class="ui top attached header">Procediment per a la recollida de signatures i DNI</h2>
		<div class="ui attached segment" style="font-size: 1.2rem; text-align: justify; padding: 2em;">
			<div class="ui list">
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Per constituir l’<strong>Agrupació d’electors Castelló en Moviment</strong> cal aconseguir un mínim de 3.000 signatures entre l’1 i el 20 d’Abril. Les persones signants han d’estar censades a Castelló, en cas contrari, la signatura no té validesa
					</div>
				</div>
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Les signatures cal recollir-les mitjançant un <strong>model normalitzat</strong>. Aquest el pots descarregar <a href="https://recollidadnis.castelloenmoviment.org/fullSignatures.pdf">ací</a>. Com veus hi han 5 signatures per fulla. Sinó pots imprimir-ho no et preocupes, nosaltres te’l facilitem, tan sols cal que contactes amb: <a href="mailto:organitzacio@guanyemcastello.org">organitzacio@guanyemcastello.org</a>.

					</div>
				</div>
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Al llarg del mes d’Abril ens repartirem per diferents punts de la ciutat per recollir les signatures. Per coordinar la participació tenim <a href="https://castelloenmoviment.org/reserves-per-a-la-replegada-de-signatures/">aquest formulari</a>. Hem d’estar ben organitzats per aconseguir-ho.
					</div>
				</div>
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Per validar cada signatura aquesta ha d'anar acompanyada de la foto del DNI del signatari (per ambdues cares, no ho oblides!). Aquest pas és molt important però no t’atabales, tan senzill com <strong>fer les fotos al DNI amb un mòbil</strong>.
						<p style="margin-top: 1em;">Una vegada tens les fotos, i per facilitar la feina, pots enviar-les des del mòbil o des del teu ordinador mitjançant algun d’aquests dos mètodes:</p>
						<div class="ui bulleted list" style="margin-left: 3em;">
							<div class="item">Per e-mail a <a href="mailto:dni@castelloenmoviment.org">dni@castelloenmoviment.org</a> o a <a href="mailto:dni@suin.pl">dni@suin.pl</a> des del mateix mòbil.</div>
							<div class="item">Per Telegram: 644263331</div>
						</div>
						<p>Et demanem que per facilitar la gestió no barreges els dos mètodes d’enviament. El millor és decidir-se per un des del principi.</p>
					</div>
				</div>
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Una vegada enviades les fotos rebràs un mail (o missatge de telegram) amb les claus d’accés a <a href="https://recollidadnis.castelloenmoviment.org/login.php">aquesta web</a> on pots agrupar les fotos per parelles (anvers i revers del DNI), i agrupar-les en blocs de 5 per a enllestir la impressió de DNIs que acompanyarà al model oficial de signatures. No t’espantes, veuràs que és molt intuïtiu, i a més en <strong>aquest vídeo</strong> expliquem el funcionament per a fer-ho.

					</div>
				</div>
  				<div class="item" style="margin-bottom: 1em;">
					<i class="star icon"></i>
					<div class="content">
						Per finalitzar sols cal imprimir els DNIs i adjuntar-los amb la fulla de signatures. Si ho fas tu ens vindria genial, tota pedra fa paret. Ara bé, nosaltres també ens oferim per imprimir-los. Això si, caldrà que ens faces arribar les fulles signades.
					</div>
				</div>
			</div>	
		<h3 class="ui top attached header">MATERIAL NECESSARI:</h3>
		<div class="ui attached info message">
			<div class="ui bulleted list">
				<div class="item"><a href="https://castelloenmoviment.org/reserves-per-a-la-replegada-de-signatures/">Model oficial recollida de signatures</a></div>
				<div class="item"><a href="https://castelloenmoviment.org/reserves-per-a-la-replegada-de-signatures/">Col·labora en les taules de recollida de signatures</a></div>
				<div class="item"><a href="https://recollidadnis.castelloenmoviment.org/login.php">Web per ordenar les fotos dels DNIs</a></div>
				<div class="item">Mail de contacte: <a href="organitzacio@guanyemcastello.org">organitzacio@guanyemcastello.org</a></div>
			</div>
		</div>
		</div>
	</div>
    </div>
</body>
</html>
